body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 247, 247, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper__search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 10px 80px 10px 10px;
  background-color: white;
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.wrapper__search > p {
  margin: 0 10px 0 0;
  padding: 0;
  color: gray;
}

.wrapper__search > input {
  width: 100%;
  border: none;
  outline: none;
  color: gray;
}

.wrapper__search > input:active {
  border: none;
  outline: none;
}
